* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #1d2941;
}

a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
}
.app {
  display: grid;
  grid-template-columns: max-content 1fr;

  min-height: 100vh;
}
/* INNER */
main .inner {
  font-family: "Inter", sans-serif;
  height: 100%;
  background-color: #f0f8ff;
  border-top-left-radius: 3.2rem;
  border-bottom-left-radius: 3.2rem;
  padding: 3.2rem 2.4rem;
}

main {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

nav {
  padding: 3.2rem 2.7rem 0rem 3.5rem;
  min-height: 11rem;
}

.logo {
  width: 200px;
  height: auto;
}

ul {
  margin-top: 6rem;
  list-style: none;
  display: grid;
  gap: 3.6rem;
  min-height: 11rem;
}

li a {
  color: #5e17eb;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-weight: 500;
}

a:hover {
  color: #9440e4;
  font-weight: 700;
}

section.title-avatar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.1rem 2.4rem;
}

.title-avatar > img {
  width: 6.4rem;
  width: 6.4rem;
  border-radius: 50%;
}

h1 {
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  padding: 1.2rem;
  font-size: 3.2rem;
  color: #1d2941;
}

section.filter {
  margin-top: 3.2rem;
  padding: 0 3.6rem;
  display: flex;
  gap: 1.6rem;
}

.filter button {
  padding: 1.6rem 3.6rem;
  border: 0;
  background: #7037e2;
  border-radius: 0.5rem;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.filter #filtro {
  font-size: 2.4rem;
}
.filter button span {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  font-size: 1.6rem;
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #ffffff;
  border: 0.07rem solid #f1f1f1;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  border-radius: 0.8rem;
  padding: 0 2.4rem;
  flex: 1;
}

.input-wrapper input {
  border: 0;
  width: 100%;
  outline: 0;
}
.input-wrapper:has(:focus) {
  outline: 0.2rem black solid;
}

.input-wrapper input::placeholder {
  font-size: 1.6rem;
  color: #7c7c8a;
}
#lupa {
  font-size: 2.4rem;
}

/* KANBAN */

section.kanban {
  display: flex;
  gap: 4.8rem;
  padding-top: 3.2rem;
}

section.kanban > * {
  flex: 1;
  padding: 2.4rem;
}

section.kanban h2 {
  font-size: 2rem;
  color: #1d2941;
  padding: 2.4rem 0;
}


.card {
  padding: 2.4rem;
  background: #ffffff;
  box-shadow: 0rem 0.4rem 1.6rem #e6e4e4;
  border-radius: 0.8rem;
  line-height: 130%;
  margin-bottom: 1rem;
}

.card h3 {
  font-size: 1.8rem;
  color: #121a29;
}

.card p {
  font-weight: 500;
  font-size: 1.6;
  margin-bottom: 1rem;
}

.card .tags {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: #7037e2;
  font-weight: 500;
}

.card .tags span {
  font-size: 1.1rem;
  line-height: 130%;
  background: #e0e0ffd5;
  border-radius: 0.8rem;
  padding: 0.4rem 0.8rem;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.dragging {
  opacity: 0.5;
}

.cards-hover {
  background-color: #c0cad3;
  border-radius: 0.8rem;

}

.column {
  height: 90vh;
}